<form ng-submit="submit()">
    <p>Selected: <span class="radioValue">{{ data.init }} </span></p>
    <md-radio-group [(value)]="data.init" >
        <!--<md-radio-button value="Fenêtre" class="md-primary" >Fenêtre</md-radio-button>
        <md-radio-button value="Porte Fenêtre" class="" > Porte Fenêtre</md-radio-button>
        *ngIf="item.checked == true"
        -->
        <div *ngFor="#item of formeService.items_list">
            <md-radio-button
                    *ngIf="item.id===1"
                    value="{{item.value}}"
                    class="{{item.class}}"
                    checked="{{item.checked}}"
                    (click)="onSelectType1(item)">
                {{item.label}}
            </md-radio-button>
        </div>
    </md-radio-group>
</form>