<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>

<div class="container">
    <div class="row">
        <div id="inbox">
            <div class="fab btn-group show-on-hover dropup" onmouseover="bullesContact()">
                <div data-toggle="tooltip" data-placement="left" title="Contact us !" style="margin-left: 42px;">
                    <button type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="dropdown">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
                <i class="fa fa-plus fa-stack-1x fa-inverse fab-primary"></i>
                <i id="test" class="fa fa-pencil fa-stack-1x fa-inverse fab-secondary"></i>
            </span>
                    </button>
                </div>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#" data-toggle="tooltip" data-placement="left" title="Contact"><i
                            class="glyphicon glyphicon-earphone"></i></a></li>
                    <li><a href="http://www.sifast.com" data-toggle="tooltip" data-placement="left" title="Website"><i
                            class="fa fa-at"></i></a></li>
                    <li><a href="https://lnkd.in/eiP6QhK" data-toggle="tooltip" data-placement="left"
                           title="LinkedIn"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://web.facebook.com/SiFAST-310964819043653" data-toggle="tooltip"
                           data-placement="left" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

